body{
    font-family: Arial;
    font-size: 26px;
    background-image: url(../img/img1.png.opdownload);
}
.container{
    width: 100%;
}
p{
    text-align:left;
    width: 600px;
    border: 6px solid green;
    background-color: gray;
    padding: 20px 60px;
    padding-left: 100px;
    color: blue;
}